/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

@import 'variables';

:root {
  --primary-color: green;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

input {
  display: block;

  margin: 5px 1px;
  padding: .6rem .4rem .6rem .4rem;
  border: var(--border, $border);
  border-radius: var(--border-radius-medium, $border-radius-medium);;

  font: inherit;
  font-size: 1.2rem;
  color: var(--primary-font-color, $primary-font-color);
  background-color: var(--input-background, $input-background);

  width: calc(100% - 1rem);

  &:focus {
    outline: none;
    margin: 4px 0;
    border: var(--border-active, $border-active);
  }

  &[error="true"]{
    margin: 4px 0;
    border: 2px solid var(--error-border-color, $error-border-color);

    background-color: var(--error-light-color, $error-light-color);
  }
}
