@import '../../../global/variables';

:host {
  display: block;
}

input {
  display: block;

  margin: 5px 1px;
  padding: .6rem .4rem .6rem .4rem;
  border: var(--border, $border);
  border-radius: var(--border-radius-medium, $border-radius-medium);;

  font: inherit;
  font-size: 1.1rem;
  color: var(--primary-font-color, $primary-font-color);
  background-color: var(--input-background, $input-background);

  width: calc(100% - 1rem);

  &:focus {
    outline: none;
    margin: 4px 0;
    border: var(--border-active, $border-active);
  }

  &[error="true"]{
    margin: 4px 0;
    border: 2px solid var(--error-border-color, $error-border-color);

    background-color: var(--error-light-color, $error-light-color);
  }
}

label {
  font: inherit;
  font-size: 1rem;
  color: var(--primary-color, $primary-color);
}
