body {
  color: var(--primary-font-color, black);
  background-color: var(--background, white);
  user-select: none;
}

#theme {
  position: absolute;
  right: 10px;
}

h4 {
  display: inline-block;
  color: var(--primary-color);
}

button {
  color: var(--primary-color);
  border:0;
  background-color: transparent;
  cursor: pointer;
}

button:focus {
  outline: none;
}

[wf-error=error]:empty {
  height: 0;
  opacity: 0;
}

[wf-error=error] {
  display: block;
  opacity: 1;
  height: 20px;
  color: var(--error-color, red);
  margin-bottom: 5px;
  transition: height .3s ease-in-out, opacity 1s ease-in;
}
