#small {
  width: 700px;
  display: inline-block;
}

h1 {
  color: purple;
}

.text {
  margin: 5px;
  color: #757575;
}

.error {
  color: red;
}

.success {
  color: darkgreen;
  font-weight: bolder;
}

[wf-error] {
  color: red;
  font-weight: bolder;
}
