#small {
  width: 700px;
  display: inline-block;
}

h1 {
  color: purple;
}

.text {
  margin: 5px;
  color: #757575;
}

.error {
  color: red;
}

.success {
  color: darkgreen;
  font-weight: bolder;
}

[wf-error] {
  color: red;
  font-weight: bolder;
}

apx-date  {
  margin-left: 5px;
}

dcx-dashboard {
  display: inline-block;
  width: 30%;
  margin: 0 10px;
  border: solid 1px #C0C0C0;
}

img {
  width:2px;
}
