@import '../../../global/variables';

button {
  cursor: pointer;
  color: var(--primary-bg-font-color, $primary-bg-font-color);
  background-color: var(--primary-color, $primary-color);

  border: var(--border, $border);
  border-radius: var(--border-radius-small, $border-radius-small);

  padding: .4rem;
  margin: 0 .1rem;

  font: inherit;
  font-size: 1.3rem;

  min-width: 9rem;

  &:hover {
    color: var(--primary-bg-font-color-hover, $primary-bg-font-color-hover);
    background-color: var(--primary-color-hover, $primary-color-hover);
    box-shadow: var(--shadow-medium, $shadow-medium);
  }

  &:active:hover{
    box-shadow: var(--shadow-light, $shadow-light);
  }

  &:focus {
    outline: none;
    box-shadow: var(--shadow-medium, $shadow-medium);
  }
}
